/** Header **/
.header {
  background: #232323;
  height: 70px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  &-link {
    position: absolute;
    left: .7cm;
  }
  
  &-cobrand {
    width: 5cm;
  }
  
  &-logo {
    position: absolute;
    width: 3cm;
    right: 2cm;
    top: 1cm;
  }
  
  &-menu {
    color: #fff;
    font-size: 18px;
    
    a {
      color: #fff;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}